# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build
build/

# Android Studio / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store
# Widget Preview related
.widget_preview/
